Meeting scheduler.json
{
  "name": "Meeting scheduler",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "thiruashok1501@gmail.com",
          "mode": "list",
          "cachedResultName": "thiruashok1501@gmail.com"
        },
        "start": "={{ $json.preferred_time }}",
        "end": "={{ new Date(new Date($json.preferred_time).getTime() + 30*60000).toISOString() }}",
        "additionalFields": {
          "attendees": [],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ \"\\nCustomer_email: \" + $json.customer_email + \"\\n\\nCustomer_name: \"+ $json.customer_name + \"\\n\\nIssue Summary: \" + $json.issue_summary + \"\\n\\nPreferred_time: \"+$json.preferred_time +  \"\\n\\nPending approval from support team.\"}}",
          "summary": "=Request for merchant call for Ticket:{{ $json.ticketId }}\n",
          "visibility": "private"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -176,
        -272
      ],
      "id": "66a761eb-38be-41d8-80ec-c48bacc5067d",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MLwSWKNZT26weNyG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "thiruashok1501@gmail.com",
        "subject": "={{ $json.summary }}",
        "message": "=Hi Support Team,<br><br>\nA merchant has requested a meeting:<br>\n{{ $json.summary }}\n<br>\nThanks,<br>Fiserv AI Assistant\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 30,
              "resumeUnit": "minutes"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        112,
        -272
      ],
      "id": "e1aac79f-1b9b-422c-9e0a-63340170eb7f",
      "name": "Human approval required",
      "webhookId": "4c16b360-2ceb-4fca-9e30-b413be0ce2e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "HmrUcaGtp9nB6oOU",
          "name": "Gmail account chat support"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        -288
      ],
      "id": "ddb69b6a-9f92-43bb-852a-1d9de3b82a67",
      "name": "Merge1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        -272
      ],
      "id": "a5cc439a-842f-4fdf-b903-5a173611ec56",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        -112
      ],
      "id": "da137200-701c-495f-b50f-6df1bacbc410",
      "name": "Merges values of meeting details and the merchant details"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8457ff80-f3b3-4112-8300-65ea3cfefb24",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "={{ $json.data.approved }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -112
      ],
      "id": "efcf977a-74ea-43d5-a9ad-6b10f8644b4d",
      "name": "Checks whether meeting accepted or not"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "=Meeting Request Rejected Ticket id: {{ $json.ticketId }}",
        "emailType": "text",
        "message": "=Dear Valued Client,\n\nDue to timing conflict, our technical team will not be able to join the meeting at {{ $json.preferred_time }}. However, we have noted your query on the ticket Id: {{ $json.ticketId }}.\n\nPlease be assured, we will get back to you shortly.\n\nThankyou for your continued support,\nGateway support team.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        -32
      ],
      "id": "49efe0ab-dca8-4e4d-a584-9757cd6a22a9",
      "name": "Sends meeting denied response",
      "webhookId": "f0829bc3-5309-4050-a59a-09408c503800",
      "credentials": {
        "gmailOAuth2": {
          "id": "HmrUcaGtp9nB6oOU",
          "name": "Gmail account chat support"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "thiruashok1501@gmail.com",
          "mode": "list",
          "cachedResultName": "thiruashok1501@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "updateFields": {
          "attendeesUi": {
            "values": {
              "attendees": [
                "={{ $json.customer_email }}"
              ]
            }
          },
          "description": "{{ $json.summary + \"\\n\\n✅ Approved by Support Team\" }}",
          "sendUpdates": "all",
          "summary": "="
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        624,
        -304
      ],
      "id": "79d856ca-117b-4c92-9dc7-5526d80f8077",
      "name": "Updating event after approval",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "MLwSWKNZT26weNyG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "=Request for the ticket: {{ $json.ticketId }} approved",
        "emailType": "text",
        "message": "=Dear Valued Client,\n\n  Your meeting request has been accepted by our support team at {{ $json.start.dateTime }}. Please find the below meeting link for your reference.\n\n{{ $json.htmlLink }}\n\nThankyou for your continued support,\nGateway Support Team.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        -288
      ],
      "id": "997fbde6-118c-4946-93f0-183824865de3",
      "name": "Sends meeting approved response",
      "webhookId": "f2ef13f8-9d40-4c4d-85e6-97c3ed9b2425",
      "credentials": {
        "gmailOAuth2": {
          "id": "HmrUcaGtp9nB6oOU",
          "name": "Gmail account chat support"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1248,
        -288
      ],
      "id": "5207daa0-8066-4b9d-a2b0-c1cc0f53d1f4",
      "name": "End of flow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        -32
      ],
      "id": "8d5c233c-f6e9-4e36-b50f-d36868a862d8",
      "name": "End of flow1"
    },
    {
      "parameters": {
        "content": "Meeting approved by Support team",
        "height": 240,
        "width": 944
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -384
      ],
      "typeVersion": 1,
      "id": "4e18f2b0-6957-4b58-8a69-77cc68b0259d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Meeting rejected by support team",
        "height": 224,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        -80
      ],
      "typeVersion": 1,
      "id": "ea60d515-2724-40df-837e-c085622a3f1c",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Create an event": {
      "main": [
        [
          {
            "node": "Human approval required",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merges values of meeting details and the merchant details",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Human approval required": {
      "main": [
        [
          {
            "node": "Merges values of meeting details and the merchant details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sends meeting approved response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merges values of meeting details and the merchant details",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merges values of meeting details and the merchant details": {
      "main": [
        [
          {
            "node": "Checks whether meeting accepted or not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks whether meeting accepted or not": {
      "main": [
        [
          {
            "node": "Updating event after approval",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Sends meeting denied response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sends meeting denied response": {
      "main": [
        [
          {
            "node": "End of flow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updating event after approval": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sends meeting approved response": {
      "main": [
        [
          {
            "node": "End of flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End of flow": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a415de1a-19dd-4d10-b2c4-103de41b6389",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f40eb00b1e31aca938f8f19f3f1124fdcb9e4730b21fa668fcdeea5dedcd6b5b"
  },
  "id": "ZUznIN8hWl713VqY",
  "tags": []
}