Webhook trigger bot.json
{
  "name": "Webhook trigger bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"The user said: \" + $json[\"body\"][\"message\"] + \". The current session ID is: \" + ( $json.body.sessionId|| \"undefined\") + \". New session flag: \" + ($json[\"isNewSession\"] ? \"true\" : \"false\") + \".\" }}\n",
        "options": {
          "systemMessage": "=You are the Payment Gateway AI Chat Assistant for Fiserv.\nYou help merchants troubleshoot payment integrations.\nAll responses must be plain text only.\n\n1. ABSOLUTE PRIORITY RULE\n\nBefore considering escalation, you MUST ALWAYS:\n\nCheck the FAQ (Google Sheet)\n\nCheck docs (docs.fiserv.dev)\n\nSearch via SERP API\n\nYou ALWAYS try to answer the question first.\nEscalation happens only when the user clearly demands human help.\n\n2. MESSAGE CLASSIFICATION RULE (STRICT)\n\nFor each message, classify into exactly one type:\n\nA. GREETING / SMALL TALK\n\n→ Respond politely. Never escalate.\n\nB. QUERY (FAQ, docs, SERP lookup)\n\n→ ALWAYS attempt to answer using FAQ → docs → SERP.\n→ DO NOT escalate unless the user explicitly expresses dissatisfaction or requests human support.\n\nC. ESCALATION REQUEST (ONLY IF USER TRULY WANTS SUPPORT)\n\nEscalate ONLY when the user uses explicit phrases such as:\n\ntalk to support\n\nspeak to someone\n\nhuman help\n\nsupport team\n\nescalate this\n\nopen ticket\n\ncreate ticket\n\nschedule meeting with team\n\ncall me\n\ncallback\n\nmeeting with support\n\nnot satisfied with your answers\n\nthis is not helping\n\nthis is not working and I need human support\n\nI want a human agent\n\nI need to speak to the support team\n\nDO NOT escalate when:\n\nThe user asks a follow-up technical question\n\nThe user expresses confusion about APIs\n\nThe user expresses frustration but does NOT ask for support\n\nThe user asks for documentation\n\nThe user asks something that can be answered with FAQ / docs / SERP\n\nThe user simply says “not working” without requesting a human\n\nOnly escalate when the intent is unambiguous.\n\n3. ESCALATION PROCESS (STRICT)\nStep 1 — Ask for email\n\nIf the user requests human support but email is unknown:\n\nSay:\nI understand you'd like to connect with our support team. Please share your registered email address so I can create a support ticket for you.\nDo NOT call the workflow yet.\n\nStep 2 — Trigger escalation (ONLY when user explicitly asked for support)\n\nWhen you have the email AND the user clearly asked to speak with support:\n\nYou must call the n8n Mail Trigger Workflow Tool.\n\nIMPORTANT — STRING-SAFE TOOL CALL\n\nThe tool node ONLY accepts plain strings.\n\nYou must generate:\n\n{\n\"ticketId\": \"string (sessionId)\",\n\"customer_email\": \"string\",\n\"customer_name\": \"string or empty\",\n\"issue_summary\": \"one plain-text sentence summarizing the issue\"\n}\n\nNever send objects, arrays, or nested JSON.\n\nStep 3 — Immediate merchant message\n\nAfter tool call, respond immediately:\n\nThank you! I’ve created support ticket #[sessionId] and notified our team. They will contact you at [customer_email] within 24 hours.\nDo you have any other questions I can help with meanwhile?\n\n4. NEVER ESCALATE DURING QUERY ANSWERING\n\nEven if you fail to find an answer, do not escalate automatically.\n\nInstead say:\nI couldn’t find specific information about that in our FAQ or documentation. If you'd like, I can connect you with our support team. Would you like me to create a support ticket?\n\nOnly escalate if the user explicitly says yes.\n\n5. MEMORY RULES\n\nPersist during the session:\n\n• customer_email\n• customer_name\n• escalation_status\n• ticketId = sessionId\n• issue_summary\n\n6. FINAL VERIFICATION BEFORE EVERY ANSWER\n\nBefore sending a message, check:\n\n✓ Did you check FAQ, docs, and SERP if it's a query?\n✓ Did the user explicitly request human help before escalation?\n✓ Are you giving plain text only?\n✓ Are tool parameters strings only?\n✓ Are you avoiding unnecessary escalation?\n✓ Are you NOT waiting for the workflow to finish?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        -48
      ],
      "id": "009e953a-121a-4de4-a044-33c5734ab384",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        144
      ],
      "id": "23216dea-9f5e-4b3b-b7d6-93c306d8147e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Mj4gB1En3wrzjO3Y",
          "name": "Raja open AI key"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Merges the Input').item.json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        144
      ],
      "id": "05c235aa-faa5-4d81-a7ae-0037e36f975a",
      "name": "Simple Memory",
      "notes": "Stores and retrieves previous user messages for context continuity"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ reply: $json.reply || $json.message || \"No response available.\" }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "=Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        -48
      ],
      "id": "e723c2fa-1bc7-46ad-b9ee-193417f1768f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "f8d7f6e7-b44d-44c2-8ba6-de1205f94764"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice input"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f0805f0-2144-4262-9d64-78ad69e3e4a3",
                    "leftValue": "={{ $json[\"body\"]?.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text input"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -784,
        -80
      ],
      "id": "961f75dc-a51c-4eb9-ab60-42aa295d16e3",
      "name": "switches between voice and text flow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7235ec2-868c-447d-b23e-04917b48512b",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -160
      ],
      "id": "e30fee6c-8e75-49e7-a195-bb33373ec951",
      "name": "converted text from voice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de75a57c-cc70-44db-bf1f-14813baf0d50",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        48
      ],
      "id": "e0fadcf9-c7d2-4573-a021-2a52c617fd4b",
      "name": "Text input"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        -48
      ],
      "id": "8ed316d6-c43e-4a35-b86d-cfbc156e89ed",
      "name": "Merges the Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "587fd7c9-26b0-46ac-b00c-3587898152d8",
              "name": "reply",
              "value": "={{ $json.output || 'No response received from AI Agent.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -48
      ],
      "id": "8e1e2d4e-0073-47dc-a39b-29ba24692c30",
      "name": "Text output"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        -80
      ],
      "id": "724c36f2-1752-49a1-9e8c-49496a8e0b3e",
      "name": "Webhook Trigger",
      "webhookId": "d217da58-764b-40d8-9b8d-d18565a9d709"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "voice",
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -544,
        -160
      ],
      "id": "5ed4ca18-e1ea-439c-a05d-ec4c97bfcce2",
      "name": "Audio file to text input",
      "credentials": {
        "openAiApi": {
          "id": "Mj4gB1En3wrzjO3Y",
          "name": "Raja open AI key"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieves merchant FAQs and support information from the spreadsheet.",
        "documentId": {
          "__rl": true,
          "value": "=1IsihICQipTSHhcUCAbLtdtL196kaHUiwr4RHaRi4rRk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "FAQ",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        400,
        288
      ],
      "id": "ac368bd3-3347-485a-adb8-976b9b2c6bb3",
      "name": "FAQ Document",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NkJtB2PdFC481FKb",
          "name": "Google cloud console credentials"
        }
      }
    },
    {
      "parameters": {
        "description": "=Sends escalation or meeting scheduling requests to the human supportworkflow {{ JSON.stringify($('Merges the Input').item.json.body) }}\n\n",
        "workflowId": {
          "__rl": true,
          "value": "q8KB9rj6gq20JUg4",
          "mode": "list",
          "cachedResultUrl": "/workflow/q8KB9rj6gq20JUg4",
          "cachedResultName": "Mail trigger proxy"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        592,
        288
      ],
      "id": "97387193-00b7-4670-9703-7cf493f467af",
      "name": "Escalation Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        768,
        288
      ],
      "id": "e43ca9ca-b2eb-4a6e-898e-aa374b6efeef",
      "name": "SERP API for google search",
      "credentials": {
        "serpApi": {
          "id": "So2WrXsLc6uDYKla",
          "name": "email serp ai account"
        }
      }
    },
    {
      "parameters": {
        "content": "Input received from the HTML page to AI which accepts both text and audio. An If node was placed to separate both Inputs, in which text input will be send further but audio will be transcribed to text before sending as an input. Both the inputs goes through a set node and merge node to provide a proper and single input to merchant",
        "height": 432,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        -240
      ],
      "typeVersion": 1,
      "id": "0461e511-356c-4690-b7b0-f824c5e127fc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Tools used by AI, to answer the merchant queries. Which includes predefined FAQ document, Serp API tool to search about generic gateway related questions and a separate escalation workfllow if merchant shows dissatisfaction or requires human support",
        "height": 288,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        160
      ],
      "typeVersion": 1,
      "id": "1a46a948-9bff-4e86-9d7d-d8ede7a9fd70",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Output sent to MTNL page",
        "height": 256,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -144
      ],
      "typeVersion": 1,
      "id": "95575563-570f-4b61-936a-cdae2e8dcc03",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Extract transcription from voice input\nconst transcript = $json.text || $json.transcript || \"\";\n\n// Try to read sessionId from any possible location\nlet sessionId =\n  $json.sessionId ||\n  $json.body?.sessionId ||\n  $json.query?.sessionId ||\n  $json.headers?.sessionid ||\n  \"\";\n\n// If sessionId is missing, generate one\nif (!sessionId) {\n  const now = new Date();\n  \n  // Format: YYYYMMDDHHMMSS (matches your existing sessionId format)\n  const pad = (n) => (n < 10 ? \"0\" + n : n);\n\n  sessionId =\n    now.getFullYear().toString() +\n    pad(now.getMonth() + 1) +\n    pad(now.getDate()) +\n    pad(now.getHours()) +\n    pad(now.getMinutes()) +\n    pad(now.getSeconds());\n}\n\n// Return unified JSON structure\nreturn [\n  {\n    json: {\n      body: {\n        message: transcript,\n        sessionId: sessionId\n      },\n      message: transcript\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -160
      ],
      "id": "b1d55fcb-69d6-4c6d-b897-d16d19c3d3c4",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "95",
            "sec-ch-ua": "\"Chromium\";v=\"128\", \"Not;A=Brand\";v=\"24\", \"Google Chrome\";v=\"128\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36",
            "sec-ch-ua-platform": "\"Windows\"",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "I want to connect with support team mail id: thirunavukkarasuashok@gmail.com",
            "sessionId": "20251113172719",
            "isNewSession": false
          },
          "webhookUrl": "http://localhost:5678/webhook/chat",
          "executionMode": "production"
        }
      }
    ],
    "Merges the Input": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "95",
            "sec-ch-ua": "\"Chromium\";v=\"128\", \"Not;A=Brand\";v=\"24\", \"Google Chrome\";v=\"128\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36",
            "sec-ch-ua-platform": "\"Windows\"",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "I want to connect with support team mail id: thirunavukkarasuashok@gmail.com",
            "sessionId": "20251113172719",
            "isNewSession": false
          },
          "webhookUrl": "http://localhost:5678/webhook/chat",
          "executionMode": "production",
          "message": "I want to connect with support team mail id: thirunavukkarasuashok@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Text output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "switches between voice and text flow": {
      "main": [
        [
          {
            "node": "Audio file to text input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "converted text from voice": {
      "main": [
        [
          {
            "node": "Merges the Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text input": {
      "main": [
        [
          {
            "node": "Merges the Input",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merges the Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "switches between voice and text flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio file to text input": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Document": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SERP API for google search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "converted text from voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ZUznIN8hWl713VqY",
    "saveExecutionProgress": true
  },
  "versionId": "fe409b73-3634-47d0-99e5-613fee52fe8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f40eb00b1e31aca938f8f19f3f1124fdcb9e4730b21fa668fcdeea5dedcd6b5b"
  },
  "id": "H4vSaFBZzOEQBS9Y",
  "tags": []
}